extends layout

block content
  h1.text-center PodNoms Page Parser
  p.lead.text-center A lightweight parser to take the stress off the main API server
  hr
  div.lead.text-center
    img.img-fluid(src="/images/sad-robot.jpg" alt="Sad Robots")
